{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Register</h1>
            </div>
        </div>
        {{ form_start(registrationForm, {attr: {'novalidate': 'novalidate'}}) }}
        <div class="row">
                <div class="col-4 mb-3">
                    {{ form_row(registrationForm.name) }}
                </div>
                <div class="col-4 mb-3">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="col-4 mb-3">
                    {{ form_row(registrationForm.username) }}
                </div>
                <div class=" col-6 mb-3">
                    {{ form_row(registrationForm.password.first) }}
                </div>
                <div class="col-6 mb-3">
                    {{ form_row(registrationForm.password.second) }}
                </div>
                <div class="col-12 mb-3">
                    {{ form_row(registrationForm.imagesFile) }}
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.captcha) }}
                </div>
                <div class="col-12">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-secondary btn-lg mt-4">Register</button>
                </div>
        </div>
        {{ form_end(registrationForm) }}
    </div>


{% endblock %}
