{% extends 'base.html.twig' %}

{% block title %}{{ shirt.title }}{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="card mb-3" style="max-width: 1024px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ asset("images/" ~ shirt.image) }}" class="img-fluid" alt="{{ shirt.title }}<">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ shirt.title }}</h5>
                                <p class="card-text">{{ shirt.description }}</p>
                                <a href="{{ path('user_show', {'id': shirt.user.id}) }}" class="card-text">{{ shirt.user.name }}</a>
                                <p class="card-text">
                                    <small class="text-muted">{{ shirt.uploaddate | date("d-m-Y") }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
