{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    <div class="mb-3">
        {{ form_row(form.name) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.email) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.username) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.password) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.imagesFile) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.rol) }}
    </div>
    <button class="btn btn-outline-success btn-lg mb-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
