{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 px-0 text-center">
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center my-3">
                <h1>Users</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <form method="get" class="d-flex">
                    <select class="form-select mb-3 d-inline me-2" name="roles">
                        <option value="" disabled selected>
                            Rol users
                        </option>
                        {% for rol in roles %}
                            <option value="{{ rol.id }}">
                                {{ rol.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-outline-secondary mb-3" value="Filter"/>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-outline-secondary">Show</a>
                                {% if(app.user) %}
                                    <a href="{{ path('message_new', {'id':user.id}) }}" class="btn btn-outline-secondary">Send message</a>
                                {% endif %}
                                {% if (app.user == user or is_granted('ROLE_ADMIN'))%}
                                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-outline-secondary">Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
